
@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    header.header-cat {
        background-image: url(/Assets/img/banner-1.jpg)!important;
    }
</style>
<!-- HEADER
           =================-->
<header id="conent" class="header-cat">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <h1>About Us</h1>
            </div>
        </div>
    </div>
</header>

<!-- HOW TO WORK
    =================-->
<section id="how-work" class="how-work">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="how-work-cont">
                    <h6>Hotel-School </h6>
                    <h1>We Provide Best Foods</h1>
                    <p>
                        The Hotel-School Restaurant is one of the top restaurants in
                        Colombo - just ask our regular customers. We combine our
                        own family recipes with style and personal flair to create a unique
                        experience every time you visit us. We strive to make each visit satisfying and memorable.
                    </p>
                    <div class="btn btn-primary btn-white">Contact now</div>
                </div>
            </div>
            <div class="col-md-1"></div>
            <div class="col-md-5 m-auto">
                <div class="how-work-img wow fadeInUp" data-wow-delay="0.3s">
                    <img src="~/Assets/img/about.jpeg" alt="" class="img-fluid">
                </div>
            </div>

        </div>
    </div>
</section>


<!-- BLOG
    =================-->
<section id="blog" class="blog">
    <div class="container">
        <div class="row wow fadeInUp" data-wow-delay="0.3s">
            <div class="col-md-12 text-center">
                <div class="heading">
                    <h1>Latest <span>News</span></h1>
                    <div class="bord-bot"></div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="blog-cont wow fadeInUp" data-wow-delay="0.3s">
                    <img src="img/blog/blog-2.jpg" alt="" class="img-fluid">
                    <h5>Hotel-School News 1</h5>
                    <p>Comming soon</p>
                    <a href="#">Read more <i class="fa fa-long-arrow-right"></i></a>
                </div>
            </div>
            <div class="col-md-4">
                <div class="blog-cont wow fadeInUp" data-wow-delay="0.6s">
                    <img src="img/blog/blog-3.jpg" alt="" class="img-fluid">
                    <h5>Hotel-School News 2</h5>
                    <p>Comming soon</p>
                    <a href="#">Read more <i class="fa fa-long-arrow-right"></i></a>
                </div>
            </div>
            <div class="col-md-4">
                <div class="blog-cont wow fadeInUp" data-wow-delay="0.9s">
                    <img src="img/blog/blog-4.jpg" alt="" class="img-fluid">
                    <h5>Hotel-School News 3</h5>
                    <p>Comming soon</p>
                    <a href="#">Read more <i class="fa fa-long-arrow-right"></i></a>
                </div>
            </div>
        </div>
    </div>
</section>

