
@{
    ViewBag.Title = "CancelOrder";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br /><br /><br /><br />
<div class="alert alert-success" role="alert">
    Orders deleted successfully!!!
</div>

