
@{
    ViewBag.Title = "Contact";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    header.header-cat.header-cat-2 {
        background-image: url(/Assets/img/banner-2.jpg) !important;
    }
</style>
<!-- HEADER
           =================-->
<header id="conent" class="header-cat header-cat-2">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <h1>Contact Us</h1>
            </div>
        </div>
    </div>
</header>

<!-- Contact
    =================-->
<section id="contact" class="contact">
    <div id="map">
        <div class="map-responsive">
            <iframe src="https://www.google.com/maps/embed?pb=!1m10!1m8!1m3!1d6030.418742494061!2d-111.34563870463673!3d26.01036670629853!3m2!1i1024!2i768!4f13.1!5e0!3m2!1ses-419!2smx!4v1471908546569" width="100%" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
        </div>
    </div>
    <div class="contact-detail">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="">
                        <h4><i class="fa fa-home"></i> Address:</h4>
                        <p class="desc">No 155 Park Road, colombo 05, <br />Park Rd, Colombo</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="">
                        <h4><i class="fa fa-phone"></i> Phones:</h4>
                        <p class="desc">0112 507 788</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="">
                        <h4><i class="fa fa-envelope"></i> E-mail:</h4>
                        <p class="desc">contact@Hotel-School.com</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

