
@{
    ViewBag.Title = "Index";
   // Layout = "~/Views/Home/Index";
}

<!-- HEADER
           =================-->
<header id="conent">
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        </ol>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <div class="img-caption-hide"></div>
                <img class="d-block w-100 img-fluid" src="~/Assets/img/slider/slider-img-3.jpg" alt="First slide">
                <div class="carousel-caption d-none d-md-block">
                    <h3>Welcome to <span>Hotel-School</span></h3>
                    <p>We Provide Best Foods Always</p>
                    <div class="btn btn-general btn-white">More Details</div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="img-caption-hide"></div>
                <img class="d-block w-100" src="~/Assets/img/slider/slider-img-2.jpg" alt="Second slide">
                <div class="carousel-caption d-none d-md-block">
                    <h3><span>Hotel-School </span>with you</h3>
                    <p>We Provide Best Veg and Non-Veg Foods</p>
                    <div class="btn btn-general btn-white">More Details</div>
                </div>
            </div>
        </div>
        <a class="carousel-control-prev carousel-arrs" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="arrow-sliders"><i class="fa fa-angle-left"></i></span>
        </a>
        <a class="carousel-control-next carousel-arrs" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="arrow-sliders"><i class="fa fa-angle-right"></i></span>
        </a>
    </div>
</header>

